.progress {
    width: 90%;
    margin: 10px auto;
    height: 22px;
    background-color: #324447;
  }
  
  .progress div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #1AAAF2;
    box-sizing: border-box;
  }
  
 
h5{
    margin-left: 18%;
}