<div class="container-fluid">
  <div class="d-flex justify-content-center">
<span class="nes-text is-primary mt-5">Welcome to Last Chance !</span>
</div>
<div class="d-flex justify-content-center mt-5">
<section>
    <button type="button" class="nes-btn is-primary" onclick="document.getElementById('dialog-rounded').showModal();">
      Pixel modal
    </button>
    <dialog class="nes-dialog is-rounded" id="dialog-rounded">
      <form method="dialog">
        <p class="title">Rounded dialog</p>
        <p>Alert: this is a dialog.</p>
        <menu class="dialog-menu">
          <button class="nes-btn">Cancel</button>
          <button class="nes-btn is-primary">Confirm</button>
        </menu>
      </form>
    </dialog>
  </section>
  </div>
</div>

<router-outlet></router-outlet>
