

<html>
  <img src="../../assets/planete.png" class="planet">
<div class="card-deck m-5">
    <div class="card">
      <h5 class="card-title d-flex justify-content-center">HANGAR</h5>
      <div class="card-body">
        <div class="image d-flex justify-content-center">
        <img class="card-img" src="../../assets/images/profile-widowMaker.png" alt="Card image cap">
      </div>
      <div class="card1 m-5">
          <div class="card-body1 d-flex justify-content-center m-5">
            <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
            <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
            <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
            <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
          </div>
        </div>
        <div class="card2 m-5">
            <div class="card-body1 d-flex justify-content-center m-5">
              <p>Engine : 10<br>Boosters : 5<br>Strength : 3</p> 
              
            </div>
          </div>
      </div>
      <div class="bouton d-flex justify-content-center">
          <a [routerLink]="['racing']"><button type="button" class="nes-btn is-warning">Choisir</button></a>
      </div>
    </div>
    <div class="card">
        <h5 class="card-title d-flex justify-content-center">HANGAR</h5>
        <div class="card-body">
          <div class="image d-flex justify-content-center">
          <img class="card-img1" src="../../assets/images/asteroidKiller-profil.png" alt="Card image cap">
        </div>
        <div class="card1 m-5">
            <div class="card-body1 d-flex justify-content-center m-5">
              <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
              <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
            </div>
          </div>
          <div class="card2 m-5">
              <div class="card-body1 d-flex justify-content-center m-5">
                <p>Engine : 3<br>Boosters : 1<br>Strength : 2</p> 
                
              </div>
            </div>
        </div>
        <div class="bouton d-flex justify-content-center">
          <a [routerLink]="['racing']"><button type="button" class="nes-btn is-warning">Choisir</button></a>
        </div>
      </div>
    
  </div>
  <div class="card-deck m-5">
      <div class="card">
        <h5 class="card-title d-flex justify-content-center">MAGASIN</h5>
        <div class="card-body">
          <div class="image d-flex justify-content-center">
          <img class="card-img4" src="../../assets/poupou.png" alt="Card image cap">
        </div>
        <div class="card1 m-5">
            <div class="card-body1 d-flex justify-content-center m-5">
              <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
              <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
              <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
              <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
            </div>
          </div>
          <div class="card2 m-5">
              <div class="card-body1 d-flex justify-content-center m-5">
                <p>Engine : 5<br>Boosters : 2<br>Strength : 4</p> 
                
              </div>
            </div>
        </div>
        <div class="bouton d-flex justify-content-center">
            <button type="button" class="nes-btn is-warning">Acheter</button>
        </div>
      </div>
      <div class="card">
          <h5 class="card-title d-flex justify-content-center">MAGASIN</h5>
          <div class="card-body">
            <div class="image d-flex justify-content-center">
            <img class="card-img3" src="../../assets/banshee.png" alt="Card image cap">
          </div>
          <div class="card1 m-5">
              <div class="card-body1 d-flex justify-content-center m-5">
                <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
                <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
                <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
                <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
                <img class="card-img-top" src="../../assets/gem12.png" alt="Card image cap">
              </div>
            </div>
            <div class="card2 m-5">
                <div class="card-body1 d-flex justify-content-center m-5">
                  <p>Engine : 3<br>Boosters : 1<br>Strength : 2</p> 
                  
                </div>
              </div>
          </div>
          <div class="bouton d-flex justify-content-center">
            <button type="button" class="nes-btn is-warning">Acheter</button>
          </div>
        </div>
      
    </div>
</html>