body{
    background-image: url("../../assets/background.jpg")  !important;
}
.card-img-top{
    width: 40px;
}
.card{
    border-radius: 2%;
    border: solid;
}

.card-img{
    width: 370px;
}
.card-body{
    border: solid;
    background-color: rgba(59, 36, 121, 0.7);
}


.card-title{
    background-color: rgba(59, 36, 121, 1);
    padding: 15px;
    text-shadow:#e7f6ff 0 -1px 0,
#4de8ff 1px 1px 0,
#00b5ff 2px 2px 0,
#007ec2 3px 3px 0,
#007cb2 4px 4px 0,
#00606e 5px 5px 0,
#333 5px 5px 10px;color:#4be9ff;
}

.card1{
    background-color: rgba(59, 36, 121, 0.4);
}

.bouton{
    z-index: 1;
}
