html {
    background-image: url('../../assets/background.jpg');
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

.card-img-top{
    width: 40px;
}
.card{
    border-radius: 2%;
    border: solid;
}

.card-img{
    width: 370px;
}

.card-img1{
    width:320px;
}
.card-body{
    background-color : rgba(59,36,121,0.5);
}


.card-title{
    background-color: rgba(59, 36, 121, 1);
    padding: 15px;
    text-shadow:#e7f6ff 0 -1px 0,
#4de8ff 1px 1px 0,
#00b5ff 2px 2px 0,
#007ec2 3px 3px 0,
#007cb2 4px 4px 0,
#00606e 5px 5px 0,
#333 5px 5px 10px;color:#4be9ff;
margin-bottom: 0px;
border-radius: 2%;
}

.card1{
    background-color: transparent;
}

.bouton{
    z-index: 1;
    background-color: rgba(59, 36, 121, 1);
    border-radius: 2%;
    
}

.card2{
    border: solid;
    border-radius: 2%;
}

.planet{
    z-index: 4;
    width:100px;
    margin-top: 20px;

}