.cockpit {
    background-image: url("../../assets/images/cockpit.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.earth {
    background-image: url('../../assets/images/earth.gif');
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 25%;
    top: 0;
}

.eject {
    position: absolute;
    height: 35px;
    width: 35px;
    margin-left: 75.8%;
    margin-top: 29%;
}

.space {
    background-image: url("../../assets/images/space-background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.passer {
    position: fixed;
    margin-top: 45%;
    margin-left: 5%;
}

.dialog1, .dialog5 {
    position: absolute;
    margin-top: 29%;
    margin-left: 23%;
}

.dialog2, .dialog4, .dialog6 {
    position: absolute;
    margin-top: 27%;
    margin-left: 60%;
}

.dialog7, .dialog3, .dialog8 {
    position: absolute;
    margin-top: 27%;
    margin-left: 65%;
}