<section>
  <button type="button" class="nes-btn is-primary" onclick="document.getElementById('dialog-default').showModal();">
      Open dialog
    </button>
    <dialog class="nes-dialog" id="dialog-default">
        <form method="dialog">
          <p class="title">Dialog</p>
          <div class="card">
              <h5 class="card-title d-flex justify-content-center">MAGASIN</h5>
                <div class="image d-flex justify-content-center">
                <img class="card-img4" src="../../assets/images/profile-widowMaker.png" alt="Card image cap">
              </div>
              </div>
          <p>Alert: this is a dialog.</p>
          <menu class="dialog-menu">
            <button class="nes-btn">Cancel</button>
            <button class="nes-btn is-primary">Confirm</button>
          </menu>
        </form>
      </dialog>
  </section>