<section>
  <button type="button" class="nes-btn is-primary" onclick="document.getElementById('dialog-default').showModal();">
    Ameliorations
  </button>
  <dialog class="nes-dialog" id="dialog-default">
    <form method="dialog">
      <p class="title d-flex justify-content-center">SHOP</p>
      <div class="card">
        <h3 class="card-title d-flex justify-content-center m-5 titre">Best deal</h3>
        <div class="image d-flex justify-content-center">
         <div class="card-achat1 m-5">
             <a><img  class="m-5" src="/assets/potion_12.png" alt="Card image cap">
            <p class="prix mt-5 d-flex justify-content-center">+100</p><br><img class="card-img10" src="/assets/Animation.gif" alt="Card image cap"><img class="card-img10" src="/assets/Animation.gif" alt="Card image cap"><img class="card-img10" src="/assets/Animation.gif" alt="Card image cap"></a>
          </div>
          <div class="card-achat1 m-5">
            <a><img class="m-5" src="/assets/potion_7_empty.png" alt="Card image cap">
            <p class="prix mt-5 d-flex justify-content-center">+250</p><br><img class="card-img10" src="/assets/Animation.gif" alt="Card image cap"><img class="card-img9" src="/assets/images/coin_44x44.png" alt="Card image cap"><img class="card-img10" src="/assets/Animation.gif" alt="Card image cap"></a>
          </div>
          <div class="card-achat1 m-5">
            <a><img class="m-5" src="/assets/scroll_5.png" alt="Card image cap">
            <p class="prix mt-5 d-flex justify-content-center">+500</p><br><img class="card-img11" src="/assets/images/potion_1_empty.png" alt="Card image cap"><img class="card-img9" src="/assets/images/coin_44x44.png" alt="Card image cap"><img class="card-img9" src="/assets/images/coin_44x44.png" alt="Card image cap"></a>
          </div>
        </div>
      </div>
      <div class="card cardaccess mt-5">
        <h4 class="d-flex justify-content-center mb-3 titre">Mon inventaire : </h4>
        <div class="image d-flex justify-content-center">
          <img class="card-img10" src="/assets/Animation.gif" alt="Card image cap">
          <img class="card-img10" src="/assets/Animation.gif" alt="Card image cap">
          <img class="card-img10" src="/assets/Animation.gif" alt="Card image cap">
          <img class="card-img10" src="/assets/Animation.gif" alt="Card image cap">
        </div>
        <div class="image mt-5 d-flex justify-content-center">
            <img class="card-img9" src="/assets/images/potion_1_empty.png" alt="Card image cap">
            <img class="card-img9" src="/assets/images/potion_1_empty.png" alt="Card image cap">
            <img class="card-img9" src="/assets/images/potion_1_empty.png" alt="Card image cap">
            <img class="card-img9" src="/assets/images/potion_1_empty.png" alt="Card image cap">
          </div>
        <div class="image mt-5 d-flex justify-content-center">
            <img class="card-img9" src="/assets/images/coin_44x44.png" alt="Card image cap">
            <img class="card-img9" src="/assets/images/coin_44x44.png" alt="Card image cap">
            <img class="card-img9" src="/assets/images/coin_44x44.png" alt="Card image cap">
            <img class="card-img9" src="/assets/images/coin_44x44.png" alt="Card image cap">
          </div>
      </div>
      <menu class="dialog-menu d-flex justify-content-between">
        <button class="nes-btn is-error m-5">Annuler</button>
        <button class="nes-btn is-primary m-5">Confirmer</button>
      </menu>
    </form>
  </dialog>
</section>