.cockpit {
    background-image: url("../../assets/images/cockpit.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 977px;
}

.container {
    background-image: url("../../assets/images/space-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 977px;
}

.player {
    background-image: url("../../assets/images/cockpitPlayer.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 40%;
    height: 40%;
    margin-top: 32%;
    margin-left: 20%;
}

.passer {
    position: absolute;
    margin-top: 50%;
    margin-left: 88%;
}

.dialog1 {
    position: absolute;
    margin-top: 31%;
    margin-left: 23%;
}

.dialog2 {
    position: absolute;
    margin-top: 31%;
    margin-left: 19%;
}

.dialog3, .dialog4, .dialog6 {
    position: absolute;
    margin-top: 29%;
    margin-left: 60%;
}

.dialog5 {
    position: absolute;
    margin-top: 30%;
    margin-left: 19%;
}

.dialog7, .dialog8 {
    position: absolute;
    margin-top: 29%;
    margin-left: 69%;
}