<div class="space col-lg-12 col-xm-12" (click)="continue()">
    <div class="cockpit">
        <div class="player">
        </div>
        <img src="assets/bubbleDialogs/dialog1.gif" class="dialog1" [hidden]="!dialog1">
        <img src="assets/bubbleDialogs/dialog2.gif" class="dialog2" [hidden]="!dialog2">
        <img src="assets/bubbleDialogs/dialog3.gif" class="dialog3" [hidden]="!dialog3">
        <img src="assets/bubbleDialogs/dialog4.gif" class="dialog4" [hidden]="!dialog4">
        <img src="assets/bubbleDialogs/dialog5.gif" class="dialog5" [hidden]="!dialog5">
        <img src="assets/bubbleDialogs/dialog6.gif" class="dialog6" [hidden]="!dialog6">
        <img src="assets/bubbleDialogs/dialog7.gif" class="dialog7" [hidden]="!dialog7">
        <img src="assets/bubbleDialogs/dialog8.gif" class="dialog8" [hidden]="!dialog8">
        <button routerLink="/planet1" class="passer">{{continuer}}</button>
    </div>
</div>