.cockpit {
    background-image: url("../../assets/images/cockpit.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.planet {
    background-image: url('../../assets/images/planet1.gif');
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 54%;
    top: 0;
}

.space {
    background-image: url("../../assets/images/space-background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.space2 {
    background-image: url("../../assets/images/space-background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.eject {
    position: absolute;
    height: 35px;
    width: 35px;
    margin-left: 77%;
    margin-top: 29.5%;
}

.propulsion {
    background-image: url("../../assets/images/space-test.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.passer {
    position: fixed;
    margin-top: 45%;
    margin-left: 5%;
}

.dialog1 {
    position: absolute;
    margin-top: 31%;
    margin-left: 23%;
}

.dialog2 {
    position: absolute;
    margin-top: 31%;
    margin-left: 19%;
}

.dialog3, .dialog4, .dialog6 {
    position: absolute;
    margin-top: 29%;
    margin-left: 60%;
}

.dialog5 {
    position: absolute;
    margin-top: 30%;
    margin-left: 19%;
}

.dialog7, .dialog8 {
    position: absolute;
    margin-top: 29%;
    margin-left: 69%;
}

.dialog9, .dialog11 {
    position: absolute;
    margin-top: 30%;
    margin-left: 20%;
}

.dialog10 {
    position: absolute;
    margin-top: 29%;
    margin-left: 60%;
}