.earth {
    background-image: url("../../assets/images/game-over.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0px;
    height: 977px;
    width: 1826px;
}

.dead {
    position: absolute;
    text-align: center;
    margin-left: 18%;
    margin-top: 5%;
}

.game-over {
    position: absolute;
    margin-top: 10%;
    margin-left: 33%;
    font-size: 10em;
    text-shadow: 15px 15px black;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% {
        color: white;
        text-shadow: 15px 15px black;
    }
    50% {
        color: transparent;
        text-shadow: 15px 15px transparent;
    }
    100% {
        color: white;
        text-shadow: 15px 15px black;
    }
}

.restart {
    position: absolute;
    margin-top: 43%;
    margin-left: 15%;
}

.leave {
    position: absolute;
    margin-top: 43%;
    margin-left: 75%;
}