<div class="earth">
  <span class="nes-text dead is-disabled">Gaïa est morte, réduisant à néant toutes chances de survie pour sa civilisation.</span>
  <p class="game-over nes-text is-disabled">GAME <br/> OVER</p>
  <div>
    <button class="nes-btn is-success restart" (click)="backClicked()">Recommencer</button>
    <section>
      <button type="button" class="nes-btn is-error leave" onclick="document.getElementById('dialog-default').showModal();">
        Abandonner
      </button>
      <dialog class="nes-dialog" id="dialog-default">
        <form method="dialog">
          <p class="title text-center">Vraiment ?!</p>
          <p class="text-center">Vous abandonnez facilement.</p>
          <menu class="dialog-menu">
            <button class="nes-btn is-success" (click)="backClicked()">Retourner se battre</button>
            <button class="nes-btn is-error" onclick="document.getElementById('dramatic').showModal();">S'enfuir comme un lâche</button>
          </menu>
        </form>
      </dialog>
      <dialog class="nes-dialog" id="dramatic">
        <iframe width="1015" height="761" src="https://www.youtube.com/embed/a1Y73sPHKxw?autoplay=1" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </dialog>
    </section>
  </div>
</div>